.container {
  display: flex;
  border: 5px solid black;
  justify-content: space-between;
}

.item-container {
  
}

.item-list {

}

ul {
  list-style-type: none;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  
}

.showlist {
  display: block;
}